/* transition: left .6s cubic-bezier(0.120, 0.870, 0.295, 0.930); */
.red {color:red !important;}
.gray {color:#999 !important;}

.btn.type01 {display:flex; align-items: center; justify-content: center; height:37px; font-size:24px; color:#fff; padding:0 28px; background:url("../img/base-green.png") no-repeat; background-size:100% 100%;
    transition: all .3s;
}
.btn.type01:hover {transform:translate(-4px, -4px);}
.btn.type01.type-small {height:25px; font-size:13px; font-weight:300;}
.btn.type02 {min-width:150px; padding:13px 20px; background-color:#0039BA; color:#fff; border-radius:3px; text-align: center; transition:all .3s;}
.btn.type02:hover {transform:translate(-4px, -4px); box-shadow:0px 3px 6px rgba(0,0,0,0.16);}
.type-gray {background-color:#F2F5FB !important; color:#333 !important; text-decoration: none; border:1px solid #e1e1e1;}
.type-yellow {background-color:#0039BA !important; color:#fff !important; text-decoration: none;}
.type-green {background-color:#0039BA !important; color:#fff !important; text-decoration: none;}

.accent {color:#DBAF47;}
.bold {font-weight:600;}
.primary {color:#0039BA;}
.bg-primary {background-color:#0039BA;}
.bg-down {background-color:#333;}
.bg-red {background-color:red !important;}
.bg-lightGray {background-color:#D2D7DC !important;}
.bg-gray {
    background-color:#93969B !important;
}
.bg-revert-gray {
    color:#93969B !important;
    border:1px solid #93969B !important;
    background-color:#fff !important;
}
.bg-revert-primary {
    color:#0039BA !important;
    border:1px solid #0039BA !important;
    background-color:#fff !important;
}


.width-100 {width:100%;}

.m-box-comment.type01 {padding:40px; background-color:#F2F5FB; border:1px solid #e1e1e1;}
.m-box-comment.type01 .title {font-size:20px; font-weight:500;}
.m-box-comment.type01 .btn.type01 {margin-left:10px; position:relative; top:0px;}

.wrap {width:1400px; margin:0 auto;}
.wrap-middle {width:1200px; margin:0 auto;}
.wrap-small {width:400px; margin:0 auto;}
.wrap-auth {width:500px; margin:0 auto; padding:80px 60px; border:1px solid #e1e1e1; border-radius:5px;}
.wrap-auth > .title {margin-bottom:40px; font-size:32px; font-weight:500; text-align: center;}
.wrap-auth .btns .m-btn {width:100%; margin-top:10px;}
.wrap-auth .links {text-align: right;}
.wrap-auth .link {position:relative; font-size:14px; color:#777;}
.wrap-auth .link:before {content:"|"; margin-left:4px; margin-right:6px; position:relative; top:-2px; font-size:10px; color:#e1e1e1;}
.wrap-auth .link:first-of-type:before {display:none;}

.page-policy {max-width:1200px; margin:0 auto; max-height:none !important;}

@media screen and (max-width:1400px){
    .wrap {width:100%;}
}

.mt-100 {margin-top:100px;}
.mt-80 {margin-top:80px;}
.mt-60 {margin-top:60px;}
.mt-40 {margin-top:40px;}
.mt-28 {margin-top:28px;}
.mt-24 {margin-top:24px;}
.mt-20 {margin-top:20px;}
.mt-16 {margin-top:16px;}
.mt-10 {margin-top:10px;}

@media screen and (max-width:1200px) {
    .mt-100 {margin-top:60px;}
    .mt-80 {margin-top:40px;}
    .mt-60 {margin-top:30px;}
    .mt-40 {margin-top:20px;}
    .mt-20 {margin-top:10px;}

}

.space-between {display:flex; justify-content: space-between;}

.form.type01 {width:100%; max-width:100%; margin:0 auto; padding:80px; border-radius:3px; border:1px solid #e1e1e1;}
.form.type01 .m-input-checkboxes.type01 {flex-wrap:wrap; margin:-8px !important; margin-bottom:0; justify-content: flex-start;}

@media screen and (max-width:1200px) {
    .form.type01 {width:100%; padding:0; border:none;}
}

.form.type02 {width:360px; margin:0 auto;}

@media screen and (max-width:1200px) {

}
@media screen and (max-width:768px) {
    .form.type02 {width:100%;}
    .wrap-small {width:100%;}
}

.header {
    width:100%;
    padding: 12px 0;
    position:static; top:0; left:0; z-index:10;
    transition: all .3s cubic-bez ier(0.120, 0.870, 0.295, 0.930);
    background-color:#fff;
    z-index:10;
    border-bottom:1px solid #e1e1e1;
}
.header.active {box-shadow:0px 0px 6px rgba(0,0,0,0.16);}
.header .logo img {display:block;}
.header .incolor {display:none;}
.header .logo .incolor {display:none;}
.header .wrap {  display:flex; align-items: center; justify-content: space-between;}
.header .black {display:none; content:""; width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.6); z-index:1;}
.header .black.active {display:block;}
.header .logo {}

.header .right {display:flex; align-items: center; margin-left:auto; justify-content: flex-end; z-index:2;}
.header .right > .navs {display:flex;}
.header .nav {
    display:flex; align-items: center;
    padding:0px 20px;
}
.header .nav .text {
    font-size:16px;
    font-weight:500;
    transition: all .3s;
}
.header .nav.point .text {
    padding:8px 12px;
    background-color:#59A9FF; color:#fff;
    border-radius:20px;
    font-weight:300;
}

@media screen and (max-width:1200px){
  /*  .header {padding:10px 20px; position:fixed; top:0; z-index:100; border-bottom:1px solid #e1e1e1;}
    .header .wrap {padding:0;}
    .header .btn-menu {display:inline-block;}
    .header .logo {width:150px;}
    .header .right.active {right:0;}
    .header .right.active .utils {right:0; flex-wrap:wrap;}
    .header .right {width:300px; height:100vh; justify-content: normal; flex-wrap:wrap; position:fixed; right:-300px; top:0; background-color:#0039BA;
        overflow-y:auto;
        flex-grow: 1;
        transition: right .6s cubic-bezier(0.120, 0.870, 0.295, 0.930);
    }
    .header .right > .navs {flex-wrap:wrap; margin-top:40px;}
    .header .right > .navs > .nav {width:100%; margin:0;}
    .header .right > .navs > .nav:hover > .text {color:#fff;}
    .header .right > .navs > .nav > .text {width:100%; height:auto; padding:20px 40px; font-weight:500; color:#fff; background:none;}
    .header .right > .navs > .nav > .text:hover {transform:none; box-shadow:none;}
    .header .right > .navs > .nav img {display:none;}
    .header .right > .navs > .nav > .navs {display:block; position:static; transform:none; animation: none;}
    .header .right > .navs > .nav:hover .navs {animation:none;}
    .header .right > .navs > .nav > .text:after {display:none;}
    .header .right .utils {width:300px; justify-content: center; margin-left:0; padding:20px;
        position:fixed; top:0; right:-300px; background-color:#14284b; border-bottom:1px solid rgba(255,255,255,0.4);
        transition: right .6s cubic-bezier(0.120, 0.870, 0.295, 0.930);

    }
    .header .right .utils {background:none;}
    .header .right .utils .util {background:none;}
    .header .right .utils .util.point {background:none;}
    .header .logo img {width:70px;}
    .header .right > .navs > .nav > .navs > .nav > .text:hover {color:#fff;}*/


}

@media screen and (max-width:768px){}

.footer {
    padding:24px 0;
    border-top:1px solid #F2F2F2;
    background-color:#F9FAFB;

}
.footer .infos {
    display:flex;
    justify-content: center;
}
.footer .info {
    margin:0 32px;
    font-size:14px; font-weight:300; color:#414346;
}
.footer .info.point {
    font-weight:bold;
}

.flex {display:flex;}
.flex-end {justify-content: flex-end;}
.btns.center {display:flex; justify-content:center; text-align: center;}
.btns.center .btn {margin:0 4px;}
.btns.flex-end {display:flex; justify-content: flex-end;}
.btns.flex-end .btn {margin-left:8px;}
.btns.type01 {display:flex; margin:-4px;}
.btns.type01 > div {flex:1; padding:4px;}
.btns.type01 > div button {width:100%;}
.main .subVisual {display:flex; align-items:center; justify-content:center; height:350px; margin-bottom:80px; position:relative; overflow:hidden;}
.main .subVisual .title {margin-top:40px; position:relative; z-index:1; font-size:40px; font-weight:500; color:#fff;}
.main .subVisual img {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
.subContent {}
.subContent-title {margin-bottom:40px; font-size:32px; font-weight:600; text-align: center;}
.sub-visual {display:flex; align-items:center; justify-content:center; height:350px; margin-bottom:80px; background:url("../img/sub-visual.jpg") no-repeat; background-size:cover;}
.sub-visual .box-text {text-align: center;}
.sub-visual .box-text .title {margin-bottom:8px; font-size:40px; font-weight:600; color:#fff;}
.sub-visual .box-text .body {font-size:18px; color:#fff; word-break: keep-all;}
.sub-wrap-container > .title {margin:60px 0; margin-top:100px; font-size:40px; font-weight:bold; text-align: center;}
.sub-wrap {border-bottom:1px solid #e1e1e1;}
.sub-wrap .left {display:flex;}
.sub-wrap .left .link {display:flex; align-items: center; justify-content: space-between; min-width:250px; padding:20px; position:relative;}
.sub-wrap .left .links {position:relative;}
.sub-wrap .left .links > .link {border-right:1px solid #e1e1e1;}
.sub-wrap .left .subs {display:none; position:absolute; top:66px; left:-1px; background-color:#fff; border:1px solid #e1e1e1; border-top:none; z-index:1;}
.sub-wrap .left .subs.active {display:block;}
.sub-wrap .left .subs .link {border-bottom:1px solid #e1e1e1;}
.sub-wrap .left .subs .link:last-of-type {border-bottom:none;}
.sub-wrap .wrap {display:flex; justify-content: space-between; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1;}
.sub-wrap .wrap .btn-util {display:flex; align-items: center; justify-content: center; width:65px; height:65px;}
.sub-wrap .wrap .left .btn-util {border-right:1px solid #e1e1e1;}
.sub-wrap .wrap .right .btn-util {border-left:1px solid #e1e1e1;}

@media screen and (max-width:1200px){


}

@media screen and (max-width:768px){


}


@media screen and (max-width:1200px) {

}
@media screen and (max-width:768px) {
}

@media screen and (max-width:1200px) {

}
@media screen and (max-width:768px) {
}

@media screen and (max-width:1200px) {

}
@media screen and (max-width:768px) {

}


@media screen and (max-width:1200px){

}


@media screen and (max-width:1200px){

}
@media screen and (max-width:768px) {
}

@media screen and (max-width:1200px) {
}

@media screen and (max-width:1200px) {

}


@media screen and (max-width:1200px) {

}


@media screen and (max-width:1200px) {

}

@keyframes flash {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@media screen and (max-width:1200px) {


}
@media screen and (max-width:768px) {

}
.align-center {align-items: center;}
.m-table .product > div {display:flex; align-items: center; text-align: left;}
.m-table .product .m-ratioBox-wrap {width:60px; padding-top:60px; border-radius:100%; border:1px solid #e1e1e1;}
.m-table .product .m-ratioBox:after {width:51px; height:16px;}
.m-table .product .title {margin-left:16px; word-break: keep-all;}
.m-table .infos {margin-top:8px;}
.m-table .infos .info {display:flex; margin-bottom:4px; text-align: left;}
.m-table .infos .info-title {flex:0 0 auto; font-size:14px; color:#999;}
.m-table .infos .info-body {font-size:14px;}

@media screen and (max-width:1200px){
    .m-table .infos .info {flex-wrap:wrap;}
    .m-table .infos .info .title {width:100%;}
}


@media screen and (max-width:1200px) {

}

.area-login {
    padding-top:134px;
}
.area-login .logo {
    display:block; margin:0 auto;
    margin-bottom:55px;
}
.area-login .m-input-text {

}
.area-login .utils {
    display:flex; justify-content: flex-end;
}
.area-login .utils .hyphen {
    margin:0 16px;
    position:relative; top:4px;
    font-size:10px;
}
.area-register {
    padding:40px 60px;
}
.area-register .btns {
    justify-content: center; display:flex;
}
.area-register .btns .m-btn {
    width:220px;
}
.area-register .boxes {
    display:flex;
    margin:-30px;
}
.area-register .box-wrap {
    flex:1;
    padding:30px;
}
.area-register .box {
    margin-top:60px;
}
.area-register .box-wrap .box01 {
    display:flex; flex-wrap:wrap;
    height:100%;
}
.area-register .box-logo {
    margin-bottom:55px;
}
.area-register .logo {
    display:block; margin:0 auto;

}
.area-register .box-logo .title {
    font-size:24px; font-weight:bold; text-align: center;
}
.area-register .box01 {
    margin-top:0;
}
.area-register .box01 .bottom {
    width:100%; margin-top:auto; margin-bottom:240px;
}
.area-register .m-input-wrap {
    margin-bottom:48px;
}


@media screen and (max-width:1200px){

}
@media screen and (max-width:768px) {}
pre {word-break: break-all;}

.container {
    display:flex;
    width:1400px; margin:0 auto; padding-bottom:0;
}
@media screen and (max-width:1400px) {
    .container {width:100%;}
}
.container .sidebar {
    flex:0 0 auto;
    width:300px; margin-right:48px; padding-top:60px; padding-right:32px; padding-bottom:100px;
    border-right:1px solid #e1e1e1;
}
.container .sidebar .m-ratioBox-wrap {
    width:60px; margin-bottom:16px; padding-top:60px;
    border-radius:100%;
}
.container .sidebar .content {
    margin-bottom:16px; padding-bottom:16px; margin-right:-32px;
    border-bottom:1px solid #e1e1e1;
}
.container .sidebar .content .title {
    margin-bottom:6px;
    font-size:24px; font-weight:bold;
}
.container .sidebar .content .body {
    font-size:14px; color:#414346;
}
.container .container-inner {
    flex:auto;
    padding-bottom:100px;
}
.container .sidebar .states {
    display:flex;
    margin:-5px;
}
.container .sidebar .state-wrap {
    width:50%;
    padding:5px;
}
.container .sidebar .state-wrap .title {
    margin-bottom:8px;
    font-size:14px;
}
.container .sidebar .box-time {
    margin-top:40px;
}
.container .sidebar .box-time .box-title {
    display:flex; align-items: center; justify-content: space-between;
    margin-bottom:12px;
}
.container .sidebar .box-time .box-title .title {
    font-weight:bold;
}

.container .sidebar .box-time .time {
    margin-bottom:4px;
    font-size:14px;
}
.container .sidebar .box-time .date {
    margin-right:8px;
    font-size:14px;
}
.container .sidebar .times-wrap {
    display:flex; align-items: flex-start;
}
.container .sidebar .times-wrap img {
    margin-top:3px; margin-right:10px;
}
.container .container-inner {
    padding-top:60px;
}

.area-main .m-boxes.type01 .box-wrap:last-of-type .box-title {
    justify-content: space-between;
    margin-bottom:16px;
}

.notices-index {
    padding:40px 0;
}
.notices-index .wrap {
    display:flex;
}
.notices-index .left {
    width:480px;
    margin-right:40px;

}
.notices-index .right {
    flex:auto;
}
.notices-index .left .top {
    display:flex; align-items: center; justify-content: space-between;
    margin-bottom:40px;
}
.notices-index .left .top .title {
    font-size:20px; font-weight:bold;
}
.notices-index .notices {
    max-height:calc(100vh - 305px); overflow-y:auto;
}
.notices-index .notice {
    display:flex;
    padding:8px 30px; margin-bottom:16px;
    cursor:pointer;
    border:1px solid transparent;
}
.notices-index .notice.active {
    border:1px solid #59A9FF; border-radius:10px;
}
.notices-index .notice * {
    font-size:14px;
}
.notices-index .notice .title {
    flex:auto;
    padding-right:10px;
}
.notices-index .notice .id {
    width:52px; flex:0 0 auto;
    color:#93969B;
}
.notices-index .notice .date {
    width:80px; flex: 0 0 auto;
}
.notices-index .right .btns {
    display:flex; justify-content: flex-end;
}
.notices-index .right .btns .m-btn {
    margin-left:8px;
}
.tui-tooltip {display:none !important;}
b {font-weight:bold;}

.m-pop-schedule .fragment > .title {
    margin-bottom:12px;
    font-size:14px; font-weight:bold;
}
.m-pop-schedule .fragment {
    margin-bottom:
}
.m-pop-schedule .m-input-checkboxes {
    display:flex; align-items: center;
}
.m-pop-schedule .m-input-checkbox {margin-left:10px;}
.m-pop-schedule .m-input-checkbox:first-of-type {margin-left:0;}
.m-pop-schedule .m-input-checkbox .text {
    font-size:14px;
}
.m-pop-schedule .m-input-checkbox.type01 label .circle {
    width:14px; height:14px;
    margin-right:4px;
}
.m-pop-schedule .m-input-wrap {
    display:flex; align-items: center;
    margin-bottom:8px;
}
.m-pop-schedule .m-input-wrap:last-of-type {
    margin-bottom:0;
}
.m-pop-schedule .m-input-wrap .inputs {
    display:flex; align-items: center;
}
.m-pop-schedule .m-input-wrap .m-input-text.type01 {

}
.m-pop-schedule .m-input-wrap .m-input-text.type01 input {
    width:50px; height:28px;
    padding:0 5px;
    font-size:14px;
    border-radius:3px;
    text-overflow: center;
}
.m-pop-schedule .m-input-wrap .title {
    margin-right:16px;
    font-size:14px; font-weight:500;
}
.m-pop-schedule .m-input-wrap .deco {
    margin:0 8px;
    font-size:14px;
}
.m-pop-schedule .m-input-wrap .inputs {
    font-size:14px;
}
.m-pop-schedule .fragment .m-input-checkbox.type01 input:checked + label .text {
    color:#59A9FF;
}
.m-pop-schedule .btns {
    display:flex; justify-content: flex-end;
}
.m-pop-schedule .btns .m-btn {
    margin-left:8px;
}

.datepicker-inline .datepicker {
    border:none;
}
.datepicker--nav {
    justify-content: flex-start;
    position:relative;
    border-bottom:none;
}
.datepicker--nav-action {
    position:absolute; right:0; top:50%;
    transform:translateY(-50%);
}
.datepicker--nav-action[data-action='prev'] {right:25px;}
.datepicker--nav-title {
    font-weight:bold; color:#000;
}
.datepicker--nav-title * {
    font-weight:bold; color:#000;
}
.datepicker--day-name {
    font-size:10px; color:#93969B;
}
.datepicker--days-names {
    margin-bottom:2px;
}
.datepicker--cell {
    margin-bottom:14px;
    font-size:14px;
}
.dp-notes {
    font-size:12px; color:#59A9FF;
    position:absolute; bottom:-16px; left:50%; transform:translateX(-50%);
}
.datepicker--cell.-current- {
    color:#fff;
}
.datepicker--cell.-current-:after {
    content:""; width:28px; height:28px;
    position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);
    border-radius:100%; color:#fff; background-color:black;
    z-index:-1;
}
.container-top {
    margin-bottom:40px;
}
.container-top .btn-back {
    display:flex; align-items: center;
    color:#93969B; font-weight:500;
}
.container-top .btn-back img {
    margin-right:4px;
}

.reservations-create .container-inner {
    display:flex;
}
.reservations-create .container-left {
    flex: 0 0 auto;
    width:444px; margin-right:60px;
}
.reservations-create .container-right {
    flex:auto;
}

.reservations-create .box-info .title {
    margin-bottom:4px;
    font-size:24px; font-weight:500;
}
.reservations-create .box-info .infos {
    display:flex; flex-wrap:wrap;
}
.reservations-create .box-info .infos .info {
    display:flex;
    width:50%;
    margin-top:8px;
}

.reservations-create .box-answer .imgs {
    display:flex;
    margin-top:70px;
}
.reservations-create .box-answer .m-ratioBox-wrap {
    width:72px;
    padding-top:72px; margin-right:12px;
    border-radius:8px; overflow:hidden; border:none;
}
.reservations-create .box-info .infos .info:nth-of-type(2n + 1) {
    margin-bottom:0;
}
.reservations-create .box-info .infos .info-title {
    min-width:54px; margin-right:12px;
    font-size:14px; color:#93969B;
}
.reservations-create .box-info .infos .info-body {
    font-size:14px;
    word-break: keep-all;
}

.reservations-create .m-table01 .th:nth-of-type(1) {
    flex:1;
}
.reservations-create .m-table01 .th:nth-of-type(2) {
    flex:2;
}
.reservations-create .m-table01 .th:nth-of-type(3) {
    flex:3;
}
.reservations-create .m-table01 .td:nth-of-type(1) {
    flex:1;
}
.reservations-create .m-table01 .td:nth-of-type(2) {
    flex:2;
}
.reservations-create .m-table01 .td:nth-of-type(3) {
    flex:3;
}

.reservations-create .m-table02 .th:nth-of-type(1) {
    flex:1;
}
.reservations-create .m-table02 .th:nth-of-type(2) {
    flex:2;
}
.reservations-create .m-table02 .th:nth-of-type(3) {
    flex:0.5;
}
.reservations-create .m-table02 .th:nth-of-type(4) {
    flex:0.5;
}
.reservations-create .m-table02 .th:nth-of-type(5) {
    flex:0.5;
}
.reservations-create .m-table02 .th:nth-of-type(6) {
    flex:1;
}

.reservations-create .m-table02 .td:nth-of-type(1) {
    flex:1;
}
.reservations-create .m-table02 .td:nth-of-type(2) {
    flex:2;
}
.reservations-create .m-table02 .td:nth-of-type(3) {
    flex:0.5;
}
.reservations-create .m-table02 .td:nth-of-type(4) {
    flex:0.5;
}
.reservations-create .m-table02 .td:nth-of-type(5) {
    flex:0.5;
}
.reservations-create .m-table02 .td:nth-of-type(6) {
    flex:1;
}

.reservations-create .box-price {
    display:flex; align-items: center;
    justify-content: space-between;
    padding:18px 32px;
    border:1px solid #e1e1e1; border-radius:8px;
    border-color:#59A9FF;
}
.reservations-create .box-price .left {
    display:flex; align-items: center;
}
.reservations-create .box-price .left .box {
    display:flex; align-items: center;
}
.reservations-create .box-price .left .title {
    margin-right:36px;
    font-size:20px; font-weight:500;
}
.reservations-create .box-price .left  .m-input-text {
    margin-right:8px;
}
.reservations-create .box-price .left  .m-input-text input {
    width:120px; height:40px;
    padding:0;
    text-align: right; font-size:24px;
}

.area-main .m-boxes.type01 .box .title {
    font-size:20px;
}

.descriptions-create .container-inner {
    display:flex;
}
.descriptions-create .container-inner .sections {
    margin:-16px;
}
.descriptions-create .container-inner .section-wrap {
    flex:1;
    padding:16px;
}
.descriptions-create .container-inner .section {
    display:flex; justify-content: space-between;
    height:100%;
    flex-direction: column;
}

.descriptions-create .container-inner .section-wrap:first-of-type {
    flex:0 0 auto; width:570px;
}
.descriptions-create .box-price {
    display:flex; align-items: center;
    justify-content: space-between;
    padding:18px 32px;
    border:1px solid #e1e1e1; border-radius:8px;
    border-color:#59A9FF;
}
.descriptions-create .box-price .left {
    display:flex; align-items: center;
}
.descriptions-create .box-price .left .box {
    display:flex; align-items: center;
}
.descriptions-create .box-price .left .title {
    margin-right:16px;
    font-size:14px; font-weight:500;
}
.descriptions-create .box-price .left  .m-input-text {
    margin-right:8px;
}
.descriptions-create .box-price .left  .m-input-text input {
    width:120px; height:40px;
    padding:0;
    text-align: right; font-size:24px;
}
.descriptions-create .comment {
    display:block; margin-top:30px;
}
.descriptions-create .comment:first-of-type {
    margin-top:0;
}
.descriptions-create #pdf {
    flex:auto;
}

.descriptions-create .section-wrap01 .fragment {
    display:flex; flex-direction: column;
    flex:auto;
}
.descriptions-create .m-boxes.type02 .m-box {
    min-height:181px;
}
.descriptions-create .section-wrap03 .fragment02 {
    margin-bottom:auto;
}

.descriptions-create .comment {
    font-size:12px;
}

